<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <demo-nx-breadcrumb [title]="'Add Department'" [items]="['Departments']" [active_item]="'Add Department'">
            </demo-nx-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Add Department</h2>

                    </div>
                    <div class="body">
                        <form class="register-form m-4" [formGroup]="departForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Department Name</mat-label>
                                        <input matInput [formControl]="departForm.controls.departmentName">
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error *ngIf="departForm.get('departmentName')?.hasError('required')">
                                            departmentName is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Department Code</mat-label>
                                        <input matInput [formControl]="departForm.controls.departmentCode">
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error *ngIf="departForm.get('departmentCode')?.hasError('required')">
                                            departmentCode is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Maximum Students Length</mat-label>
                                        <input matInput [formControl]="departForm.controls.maxStudent">
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error *ngIf="departForm.get('maxStudent')?.hasError('required')">
                                            Maximum Student is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Course Name</mat-label>
                                        <mat-select [formControl]="departForm.controls.courseId">
                                            <mat-option [value]="'home'">
                                                Home
                                            </mat-option>
                                            <mat-option [value]="'office'">
                                                Office
                                            </mat-option>
                                            <mat-option [value]="'mobile'">
                                                Mobile
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="departForm.get('courseId')?.hasError('required')">
                                            Preferred is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>